.feedbackCard {
  border-radius: 42px;
  background: #f8f4ff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 210px;
  height: auto;
  gap: 28px;
  background-image: url("../../../../../public/assets/feedback/feedBack-bg-purple.png");
  background-size: cover;
  background-position: center center;
  .h2 {
    color: #4e2b6a;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    line-height: 120%;
  }
  .primaryButton {
    display: flex;
    padding: 18px 128px;
    justify-content: center;
    align-items: center;
    border-radius: 58px;
    border: none;
    background: #8a48f7;
    cursor: pointer;
    transition: all 0.2s;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    &:hover {
      background: #8032fd;
    }
  }
}
