.p {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  .link {
    color: #4876f7;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;

    &:hover {
      text-decoration: underline;
    }
  }
}
