.header {
  display: flex;
  width: 100%;
  height: 40px;
  background: #fff;
  justify-content: space-between;
  align-items: center;

  .rangRoad {
    display: flex;
    width: 80%;
    height: 40px;
    align-items: center;
    gap: 12px;
    .divider {
      width: 2px;
      height: 24px;
      flex-shrink: 0;
      background: #ebebeb;
    }
    .rang__item {
      color: #222;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: 150%;
    }
  }
  .array {
    display: flex;
    border: none;
    padding: 8px;
    width: 40px;
    height: 40px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-radius: 48px;
    background: #f7f7f7;

    &:hover {
      background: #ebebeb;
    }
  }
}
