.background {
  background-image: url("../../../../../public/assets/register/registerBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100svh;
  .main {
    display: flex;
    width: 100vw;
    z-index: 2;
    align-items: center;
    flex-direction: column;
    gap: 8svh;
    justify-content: center;

    .header {
      margin-bottom: auto;
      margin-top: 5%;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: auto;
      gap: 48px;
    }
    .formsWrap {
      max-width: 50%;
      display: flex;
      width: 100%;
      height: auto;
      align-items: center;
      margin-bottom: auto;
      justify-content: center;
    }
  }
}
