.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 90px;
  background: #fff;
  padding: 18px 32px;
  position: fixed;
  top: 0;
  z-index: 10;
  .leftSection {
    display: flex;
    align-items: center;
    gap: 40px;
    .menteeMentorAndDivider {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    .routerItemsRender {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
  .rightSection {
    display: flex;
    align-items: center;
    gap: 24px;
    .currencyWrap {
      display: flex;
      align-items: center;
      gap: 4px;
      .currency {
        border-radius: 16px;
        background: #fafafa;
        display: flex;
        justify-content: center;
        padding: 12px;
        align-items: center;
        gap: 4px;
        border: none;
      }
    }
    .profile {
      display: flex;
      align-items: center;
      gap: 12px;
      .userAvatar {
        border-radius: 16px;
        background: #4876f7;
        display: flex;
        width: 48px;
        height: 48pd;
        align-items: center;
      }
      .userWrap {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        .h4 {
          color: #222;
          font-size: 14px;
          font-style: normal;
          font-weight: 800;
          line-height: auto;
        }
        .h5 {
          color: #73c66e;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
        }
      }
    }
  }
}
.divider {
  background: #d3d3d3;
  width: 1.5px;
  height: 28px;
}
